@{
    ViewBag.Title = "TurboRango";
}


<div class="jumbotron" style="text-align:center; background-image:url('http://www.dailyvedas.com/wp-content/uploads/2014/04/fap-09.jpg');">
    <h1 style="font-size:150px;">TurboRango</h1>
    <p class="lead" style="padding-top:20px; font-size:40px;">Seu melhor guia de restaurante é aqui.</p>
    <p><a href="/Restaurantes" class="btn btn-primary btn-lg">Encontre o seu Restaurante &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:#f39c12">Com fome?</h2>
        <p>
            O TurboRango reconhece a sua localização e faz um sorteio entre os restaurantes mais próximos para você!
        </p>
        <p><a class="btn btn-default" href="/sorteios">Mate minha fome!</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:#2ecc71">Muita fome e pouca grana?</h2>
        <p>O TurboRango possui uma lista de ofertas oferecidas pelos restaurantes cadastrados. O que faltou para ir comer fora e pagar muito barato?</p>
        <p><a class="btn btn-default" href="/promocaos">Tô sem grana!</a></p>
    </div>
    <div class="col-md-4 ">
        <h2 style="color:#e74c3c">Seja um associado</h2>
        <p>Seu restaurante ainda não está cadastrado? Aproveite e cadastre o seu restaurante agora mesmo e possua a liberdade para cadastrar diversas promoções. Venha fazer parte do TurboRango.</p>
        <p><a class="btn btn-default" href="/Restaurantes/Create">Cadastre-se!</a></p>
    </div>
</div>